<p>video-dashboard works!</p>
<app-video-list
  [videos]="videoList | async"
  (videoSelected)="currentVideoSelected($event)"
></app-video-list>
<app-video-player [video]="currentVideo"></app-video-player>
<app-stat-filters></app-stat-filters>
